/*Общие настройки и сброс стилей*/

body {
  margin: 0;
  background-color: gray;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
q {
  margin: 0;
}

/*Общие настройки для контейнеров*/

.content-section {
  width: 360px;
  box-sizing: border-box;
  margin: 0 auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.header,
.header__menu-list,
.intro__heading,
.content-section__list,
.cards-list,
.footer,
.footer__links {
  display: flex;
  justify-content: space-between;
}

.header__menu-list,
.content-section__list,
.cards-list {
  flex-direction: column;
}

/*Общие настройки шрифтов*/

.cover, .content-section__subtitle, .card__title {
  font-family: "EB Garamond", "Times New Roman", Times, serif;
}

.cover__title, .intro__title {
  font-weight: 100;
}

.content-section__subtitle, .card__title {
  font-weight: 200;
}

/*Общие настройки для списков*/

.header__menu-list,
.cards-list,
.footer__links {
  list-style: none;
}

.header__menu-item_active a,
.footer__links-link {
  text-decoration: none;
}

.header__menu-link,
.footer__links-link {
  color: #f5f5f5;
}

/*Индивид. настройки секции header*/

.header {
  padding: 24px 20px 30px;
}

.header__logo-image {
  width: 78.45px;
  height: 15.43px;
}

.header__menu-list {
  gap: 12px;
}

/*Индивид. настройки секции cover*/

.cover {
  min-height: 221px;
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-size: 339px 198px;
  background-position: bottom right;
  padding: 0 20px;
  color: #ffffff;
}

.cover__title {
  font-size: 72px;
  line-height: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*Индивид. настройки секции intro*/

.intro {
  padding: 30px 20px 38px;
  font-size: 16px;
}

.intro__heading {
  line-height: 1.2;
}

.intro__title {
  font-size: 16px;
}

.intro__date {
  white-space: nowrap;
}

.intro__main-text p {
  margin-top: 24px;
  line-height: 21.6px;
}

/*Индивид. настройки секции reasons*/

.reasons {
  padding: 40px 20px;
}

.content-section__subtitle {
  font-size: 28px;
  line-height: 1.15;
}

.content-section__introduction {
  margin: 32px 0;
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  padding-left: 20px;
  gap: 16px;
  font-size: 16px;
  line-height: 21.6px;
}

.content-section__list-accent {
  font-weight: bold;
}

/*Индивид. настройки секции how-to*/

.how-to {
  padding: 40px 20px 60px;
}

.cards-list {
  padding: 0;
  gap: 32px;
}

.card {
  padding: 20px;
  border-radius: 30px;
}

.card_theme_dark {
  background-color: #343434;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.card__author-name {
  font-weight: bold;
  line-height: 20px;
}

.card__author-name, .card__title {
  margin-bottom: 8px;
} 

.card__title {
  font-size: 22px;
  line-height: 1.3;
}

.card__text {
  line-height: 21.6px;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

/*Индивид. настройки секции footer*/

.footer {
  padding: 20px;
  border-top: 1px solid #fee42a;
}

.footer__links {
  font-size: 14px;
  gap: 20px;
}
